$main-item-color: #3f51b5;
$main-item-color-dark: #3247bd;

$white-color: #eff0f1;
$gray-color: gray;
$dark-color: black;
$menu-bg-color: #3f51b5;
$menu-bg-color-dark: #3247bd;

$content-bg: rgba(241, 240, 240, 0.26);

$alert-success: #28a745;
$alert-warning: #ffc107;
$alert-error: #cc2032;
$alert-info: #007bff;
