<form>
    <div class='item'>

        <div class="w-full" fxLayout='row' fxLayoutAlign='space-between center'>
            <div class="item__title">{{(labels$ | async).title}}</div>
            <div fxLayout='row' fxLayoutGap='1rem'>
                <button mat-stroked-button type='button' (click)='goTo("back")' color="primary">
                    {{(buttons$ | async).back}}
                </button>
                <button mat-raised-button type='button' (click)='goTo("next")' color="primary">
                    {{(buttons$ | async).next}}
                </button>
            </div>
        </div>

        <div class='w-full' class='laboral__content'>
            <div class='w-full' fxLayout='row' fxLayoutGap='2rem'>

                <mat-form-field fxFlex="40" appearance="outline">
                    <mat-label>{{(labels$ | async).name}}</mat-label>
                    <textarea rows="20" matInput [formControl]="objective"></textarea>
                </mat-form-field>


                <mat-form-field fxFlex="40" appearance="outline">
                  <mat-label>{{(labels$ | async).fit}}</mat-label>
                  <textarea rows="20" matInput [formControl]="fit"></textarea>
                </mat-form-field>

            </div>
        </div>
    </div>
</form>
