<form>
    <div class='item'>

        <div class="item__title">Personal Data</div>

        <div class='w-full' fxLayout='row' fxLayoutGap='2rem'>

            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput>
            </mat-form-field>

        </div>


    </div>
</form>