<div class='content'>

    <div class="main" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="3rem">
      <div class="main__title"><span>Curriculum</span> &nbsp; <span>Vitae</span></div>
      <div class="main__phrase">{{(labels$ | async).subtitle}}</div>
      <div class="main__description">
        {{(labels$ | async).description}}
       </div>

      <div fxLayout="flex" fxLayoutGap="2rem">
        <input  #fileInput id="upload-cv" (change)="onUploadFileChanged($event)" type="file" style="display: none;">
        <button  (click)="fileInput.click()"  mat-stroked-button color="primary">{{(labels$ | async).upload}}</button>
        <button mat-raised-button color="primary" (click)='createCV()'>{{(labels$ | async).create}}</button>
      </div>
    </div>

    <img src="assets/images/cv.jpg">

</div>
