<div class='content'>
    <mat-card (click)='createCV()' class='item'>
        <mat-icon class='item__icon'>add_circle_outline</mat-icon>
        <div class='item__description'>{{(labels$ | async).create}}</div>
    </mat-card>
    <mat-card class='item'>
        <label for="upload-cv" class='item-label'>
            <mat-icon class='item__icon'>upload</mat-icon>
            <div class='item__description'>{{(labels$ | async).upload}}</div>
        </label>
    </mat-card>
    <input id="upload-cv" (change)="onUploadFileChanged($event)" type="file" style="display: none;">
</div>