<form [formGroup]="certificationForm">
    <div class='item'>

        <div class="w-full" fxLayout='row' fxLayoutAlign='space-between center'>
            <div class="item__title">{{(labels$ | async).title}}</div>
            <div fxLayout='row' fxLayoutGap='1rem'>
                <button mat-stroked-button type='button' (click)='goTo("back")' color="primary">
                    {{(buttons$ | async).back}}
                </button>
                <button mat-raised-button type='button' (click)='goTo("next")' color="primary">
                    {{(buttons$ | async).next}}
                </button>
            </div>
        </div>

        <div class='w-full' class='laboral__content'>
            <div class='w-full' fxLayout='row' fxLayoutGap='2rem'>

                <mat-form-field appearance="outline">
                    <mat-label>{{(labels$ | async).name}}</mat-label>
                    <input matInput formControlName="name" [placeholder]='(labels$ | async).placeholder.name'>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{(labels$ | async).date}}</mat-label>
                    <input matInput formControlName='date' type="month">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{(labels$ | async).school}}</mat-label>
                    <input matInput formControlName="school" [placeholder]="(labels$ | async).placeholder.school">
                </mat-form-field>

                <button style="align-self:center" mat-raised-button type='submit' color="primary"
                    (click)='addCertificationInformation()'>
                    {{(buttons$ | async).save}}
                </button>

            </div>

            <mat-divider></mat-divider>

            <div class='w-full' *ngIf='(certificationList$ | async)?.length>0' class='certification'>
                <div class='certification__title'>{{(labels$ | async).myInformation}}:</div>
                <ng-container *ngFor='let certification of certificationList$ | async;let i =index'>
                    <div class="certification__item">
                        <div class="certification__item__header">
                          <div class="certification__item__header__actions">
                              <mat-icon (click)='remove(i)' [matTooltip]="(buttons$ | async).remove" color='warn'>
                                  highlight_off</mat-icon>
                              <mat-icon (click)='edit(certification,i)' [matTooltip]="(buttons$ | async).edit"
                                  color='primary'>edit</mat-icon>
                          </div>
                          <div class="certification__item__header__title">
                              {{certification.name}}
                              <span class="certification__item__header__subtitle"> ({{certification.date}}) </span>
                              <div class="certification__item__details">
                                  <span>{{certification.school}}</span>
                              </div>
                          </div>
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
</form>
