<form [formGroup]="achievementForm">
    <div class='item'>

        <div class="w-full" fxLayout='row' fxLayoutAlign='space-between center'>
            <div class="item__title">{{(labels$ | async).title}}</div>
            <div fxLayout='row' fxLayoutGap='1rem'>
                <button mat-raised-button type='button' (click)='goTo("back")' color="primary">
                    {{(labels$ | async).buttons.back}}
                </button>
                <button mat-raised-button type='button' (click)='goTo("next")' color="primary">
                    {{(labels$ | async).buttons.next}}
                </button>
            </div>
        </div>

        <div class='w-full' class='laboral__content'>
            <div class='w-full' fxLayout='row' fxLayoutGap='2rem'>

                <mat-form-field appearance="outline">
                    <mat-label>{{(labels$ | async).name}}</mat-label>
                    <input matInput formControlName="name" [placeholder]='(labels$ | async).placeholder.name'>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{(labels$ | async).date}}</mat-label>
                    <input matInput formControlName='date' type="date">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{(labels$ | async).description}}</mat-label>
                    <input matInput formControlName="description"
                        [placeholder]="(labels$ | async).placeholder.description">
                </mat-form-field>

                <button style="align-self:center" mat-raised-button type='submit' color="primary"
                    (click)='addAchievementInformation()'>
                    {{(labels$ | async).buttons.save}}
                </button>

            </div>

            <mat-divider></mat-divider>

            <div class='w-full' *ngIf='(achievementList$ | async)?.length>0' class='achievement'>
                <div class='achievement__title'>{{(labels$ | async).myInformation}}:</div>
                <ng-container *ngFor='let achievement of achievementList$ | async;let i =index'>
                    <div class="achievement__item">
                        <div class="achievement__item__header">
                            <div class="achievement__item__header__title">
                                {{achievement.name}}
                                <span class="achievement__item__header__subtitle"> ({{achievement.date}}) </span>
                            </div>
                            <div class="achievement__item__header__actions">
                                <mat-icon (click)='remove(i)' [matTooltip]="(labels$ | async).buttons.remove"
                                    color='warn'>highlight_off</mat-icon>
                                <mat-icon (click)='edit(achievement,i)' [matTooltip]="(labels$ | async).buttons.edit"
                                    color='primary'>edit</mat-icon>
                            </div>
                        </div>
                        <div class="achievement__item__details">
                            <span>{{achievement.description}}</span>
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
</form>