<div class="content">
    <div fxLayout='row' style='padding: 0rem 2rem' fxLayoutAlign='space-between center'>
        <button mat-mini-fab color="primary" (click)="home()">
            <mat-icon>home</mat-icon>
        </button>
        <div class='title'>Curriculum Vitae APP</div>
        <mat-form-field appearance="legacy">
            <mat-select (selectionChange)='modifyLanguage($event)' [(ngModel)]='code' name='lan'>
                <mat-option value="en">English </mat-option>
                <mat-option value="es">Español </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <router-outlet></router-outlet>
</div>

<div class="mobile">
  <div class="main" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="3rem">
    <div class="main__title"><span>Curriculum</span> &nbsp; <span>Vitae</span></div>
    <div class="main__phrase">Create Your Future with Our Professional Resumes in our APP</div>
    <div class="main__description">
      <b>Attention Job Seekers!</b>
      Our Curriculum Vitae app is currently optimized for desktop use and unfortunately, it is not yet available for mobile. We strongly recommend using our app on a desktop computer for a more comfortable user experience, access to all features, and enhanced security of your personal information. Thank you for your understanding and continued support.
    </div>
  </div>
</div>
