@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.layout {
    display: flex;
    justify-content: flex-start;
    height: 90vh;
    overflow: auto;
}

.menu {
    width: 10%;
    border-right: $default-border;
    color: $white-color;
    background-color: $menu-bg-color;
    &__title {
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;
        font-weight: bold;
        border-bottom: $white-border;
    }
    &__list {
        mat-list-option {
            font-size: 1rem;
            color: $white-color;
            &:hover {
                background-color: $menu-bg-color-dark;
                font-size: 1.1rem;
            }
        }
    }
}
.content {
    width: 90%;
    padding-left: 0.5rem;
    background-color: $content-bg;
}
