<form [formGroup]="interestForm">
  <div class='item'>

      <div class="w-full" fxLayout='row' fxLayoutAlign='space-between center'>
          <div class="item__title">{{(labels$ | async).title}}</div>
          <div fxLayout='row' fxLayoutGap='1rem'>
              <button mat-stroked-button type='button' (click)='goTo("back")' color="primary">
                  {{(buttons$ | async).back}}
              </button>
              <button mat-raised-button type='button' (click)='goTo("next")' color="primary">
                  {{(buttons$ | async).next}}
              </button>
          </div>
      </div>

      <div class='w-full' class='laboral__content'>
          <div class='w-full' fxLayout='row' fxLayoutGap='2rem'>

              <mat-form-field appearance="outline">
                  <mat-label>{{(labels$ | async).name}}</mat-label>
                  <input matInput formControlName="name" [placeholder]='(labels$ | async).placeholder.name'>
              </mat-form-field>

              <button style="align-self:center" mat-raised-button type='submit' color="primary"
                  (click)='addInterestInformation()'>
                  {{(buttons$ | async).save}}
              </button>

          </div>

          <mat-divider></mat-divider>

          <div class='w-full' *ngIf='interests?.length>0' class="interest">
              <div class='interest__title'>{{(labels$ | async).myInformation}}:</div>
              <div cdkDropList  (cdkDropListDropped)="drop($event)">
                <div *ngFor='let interest of interests ;let i =index' cdkDrag>
                    <div class="interest__item">
                        <div class="interest__item__header">
                            <div class="interest__item__header__title">
                              <mat-icon style="cursor: move;">drag_indicator</mat-icon>
                                {{interest.name}}
                            </div>
                            <div class="interest__item__header__actions">
                                <mat-icon (click)='remove(i)' [matTooltip]="(buttons$ | async).remove" color='warn'>
                                    highlight_off</mat-icon>
                                <mat-icon (click)='edit(interest,i)' [matTooltip]="(buttons$ | async).edit"
                                    color='primary'>edit</mat-icon>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</form>
