/* You can add global styles to this file, and also import other style files */
@import "./app/styles/colors.scss";
@import "./app/styles/mixins.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-full {
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    &__title {
        font-weight: bold;
        font-size: 25px;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 20px;
    }
}

.alert {
    &__error {
        @include alert($alert-error);
    }
    &__info {
        @include alert($alert-info);
    }
    &__warning {
        @include alert($alert-warning);
    }
    &__success {
        @include alert($alert-success);
    }
}
